<tr>
  <th scope="row" [ngClass]="{'text-primary': tabs.actif == true}">{{ tabs.id }}</th>
  <td>{{ tabs.lastname }}</td>
  <td>{{ tabs.firstname }}</td>
  <td>{{ tabs.age }}</td>
</tr>
<button class="btn btn-primary" (click)="lire()">
  Vieillir
</button>
