
<p>
  {{ firstname }}
</p>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Prénom</th>
      <th scope="col">index</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let name of stagiaire; let i = index">
      <th>{{ name }}</th>
      <td>{{ i }}</td>
    </tr>
    </tbody>
  </table>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">Nom</th>
    <th scope="col">Prénom</th>
  </tr>
  </thead>
  <tbody>
  <app-stagiaire *ngFor="let proprety of tabs; let i = index"
                 [hidden]="proprety.actif != true"
                 [tabs]="proprety"
                 [i]="i">
  </app-stagiaire>
  </tbody>
</table>



